# Frontend Settings
VITE_API_URL=http://localhost:8000/api/v1

# Backend Settings
PORT=8000
ENV=development
MODEL_CACHE=/Users/charulekha/Desktop/PROJECTS/rankengine/reci-ai/cache
OUTPUT_PATH=/Users/charulekha/Desktop/PROJECTS/rankengine/reci-ai/outputs
